<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" href="#" (click)="currentPage = currentPage - 1"
        >Previous</a
      >
    </li>

    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link" href="#"> {{ i + 1 }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" href="#" (click)="currentPage = currentPage + 1"
        >Next</a
      >
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <br />
  <img [src]="images[currentPage].url" />
</div>

<!-- <div [ngSwitch]="currentPage">
  <div *ngSwitchCase="2">currentPage is</div>
</div> -->
